.employeeBox{
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__status {
        &-success {color: green;}
        &-average {color: orange;}
        &-fail {color: red;}
    }
    
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}